{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Create category</h1>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table table-borderless">
                    {{form.as_table}}
                </table>
                <button class="btn btn-primary" type="submit">Create</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}