{% extends 'base.html' %} {% block content %}

<div class="about-section" style="background-color:rgb(28, 114, 136)">
  <h1>About Us Page</h1>
  <p>Some text about who we are and what we do.</p>
  <p>
    Resize the browser window to see that this page is responsive by the way.
  </p>
</div>

<h2 style="text-align: center">Our Team</h2>

</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <img src="#" alt="Jerin"  />
        <div class="container">
          <h2>Jerin</h2>
          <p class="title">CEO & Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>abc@example.com</p>
          <p><button class="button" style="background-color:rgb(28, 114, 136) ;">Contact</button></p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">

      <div class="card">
        <img src="#" alt="Anoob"  />
        <div class="container">
          <h2>Anoob</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>abc@example.com</p>
          <p><button class="button" style="background-color:rgb(28, 114, 136) ;">Contact</button></p>
        </div>
      </div>
    </div>
 
    <div class="col-lg-4">
      <div class="card">
        <img src="#" alt="Aseef"  />
        <div class="container">
          <h2>Aseef</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>abc@example.com</p>
          <p><button class="button" style="background-color:rgb(28, 114, 136) ;">Contact</button></p>
        </div>
      </div>
    </div>
  </div>

{% endblock%}
